<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ourfirstapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
           android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.ourfirstapp.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
           android:name=".Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.ourfirstapp.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
           android:name=".LiveScores"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.ourfirstapp.LIVESCORES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
           android:name=".ChampionsLeague"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.ourfirstapp.CHAMPIONSLEAGUE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
           android:name=".FIFARanking"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.ourfirstapp.FIFARANKING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
        
        
    </application>

</manifest>
